:root{
       --general-shadow: 0 .5rem 1rem rgba(0,0,0,0.15);
    --h-header: 50px;
    --red: #eb4a5a;
    --grey: #434343;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    padding: 1rem;
    background-color: #cccc;
}

.nav_img {
    width: 50%;
}



img {
    width: 100%;
    display: block;
    display: flex;
}



/*-------------------------------------HEADER-*/

header{
    height: var(--h-header);
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
}

h3 {
    width: 75%;
    color: var(--grey);
    margin:auto;
    margin-top: 20px;
    display: block;
    display: flex;
    
    

}


header > nav {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 20px;


}

header > nav > img{
    width: 100%;
    max-width: 120px;
    

   
}


.img__logo {

    width: 712px;
    margin-top: 50px;
    margin: auto;
    margin-top: 50px;
    display: block;
}


header > nav > i{
    font-size: 2rem;
    cursor: pointer;

    
    position: relative;
}

.amountProducts {
    width: 20px;
    height: 20px;
    font-size: 0.8rem;
    background-color: black;
    color: white;
    display: inline-block;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -5 px;
    top: 27px;

}
/*-------------------------------------PRODUCTS-*/
.products {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 1024px;
    margin: auto;
    gap: 1rem;
}

.product {
    
    border-radius: 1rem;
    box-shadow: var(--general-shadow);
    background-color: white;
}

.product__img {
    padding: 1rem;

}

.product__info{
    
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product__info h4{
    min-height: 54px;

}


.product__info span{
    font-weight: normal;
    font-size: 0.8rem;
}

.product__info .soldOut {
    display: inline-block;
    color: white;
    background-color: lightcoral;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    user-select: none;
}

.product__info .bx-plus{
    background-color: black;
    padding: 1.5rem;
    border-radius: 50%;
    color: white;
    font-size: 1.3rem;
    cursor: pointer;
}
/*-------------------------------------CART-*/

.cart{
    height: calc(100vh - var(--h-header));
    width: 400px;
    background-color: white;
    position: fixed;
    top: var(--h-header);
    right: -100%;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    
    transition: right 0.3s;
}

.cart__show{
    right: 0;
}
.cart___products {
    
    height: 85%;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.cart___product{
    box-shadow: var(--general-shadow);
    padding: 1rem;
    display: flex;
    align-items: center;
    border-radius: 1rem;

    
}

.cart___product--img{
width: 40%;
background-color: white;
border-radius: 1rem;
}
.cart___product--body{
width: 60%;
padding: 1rem;
display: flex;
flex-direction: column;
gap: 0.3rem;

}

.cart___product--body-op{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.cart___product--body-op .bx-trash{
    color: lightcoral;
}


.cart___product--body-op i{
    cursor:pointer;
}


.cart___total {
    
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    
}

.cart___total--info{
    
    width: 100%;

    display: flex;
    justify-content: space-between;
}

.btn__buy{
    padding: 0.5rem;
    width: 100%;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
}
.footer {
        min-height: 200px;
        background-color: var(--red);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
.footer__p {
    color: var(--white);
    font-size: 24px;
    display: block;
}

@media (max-width: 500px) {
    .cart{
        
        width: 100%;
     
    }
    
}